body {
    margin: 0;
    padding: 0;
    background-color: #25496c;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.page-container {

    display: flex;
    flex-direction: column;
    
}

.logo {
    margin-left: 12px;
    justify-content: center;
    width: 300px;

}

.logo img {
    display: block;
    width: 100%;
    max-width: 300px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.form-container b {
    font-size: 18px;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #c8b220;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.form-container input[type="submit"]:hover {
    background-color: #99881b;
}
