* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #3c3c3c;
    color: #333;
  }
  
 header {
  width: 100%;
  height: 100px;
  background-color: #000;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.headLogo img {
  height: 80px;
}

.headerMenu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.headerMenu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
  .headLogo {
    flex: 1;
    height: 200px;
  }
  
  .headLogo img {
    width: 90%;
    height: 100%;
  }
  
  header nav {
    margin-left: 10%;
    flex: 2;
    height: 100%;
    align-items: center;
    place-self: center;
    align-self: center;
    gap: 40px;
    display: flex;
    justify-items: right;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  
  footer {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    
  }
  footer nav{
    display: flex;
    margin-bottom: 40px;
    text-align: center;
    align-self: center;
    gap: 40px;
  }
  footer p{
    text-align: center;
    color: white;
  }

.arama-formu {
  display: flex;
  align-items: center;
}

.arama-formu input[type="text"] {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.arama-formu button {
  margin-left: 5px;
  padding: 8px 16px;
  background-color: #e6b800;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.arama-formu button:hover {
  background-color: #997b01;
}
